@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    background: #101026;
    flex-direction: column;
    margin-top: 15%;
}

.text {
    font-size: 45px;
    color: white;
    margin-bottom: 30px;
}

.paragrafo {
    color: white;
    margin-bottom: 50px;
    font-size: 30px;
}

.btn {
    padding: 15px 55px;
    background: white;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.5s;
}


.btn:hover {
    border-radius: 16px;
    text-decoration: underline;
}